<app-header/>

<div class="container">

    {{#if page == "Home" || page == "editUserForm"}}
    <app-user-list page={{page}}/>
    {{elseif page == "addUserForm" }}
    <app-add-user-form/>
    {{/if}}

</div>

<app-footer/>