
{{#if page == "editUserForm" }}
    <app-edit-user-form user={{user}}/>
{{ else }}
    <h1>Table</h1>
<table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {{ #users: i }}
        <tr>
            <td>{{++i}}</td>
            <td>{{name}}</td>
            <td>{{address}}</td>
            <td>{{gender}}</td>
            <td>
                <button class="btn btn-warning" on-click="@this.editUser(i,_id)">Edit</button>

                <button class="btn btn-danger" on-click="@this.deleteUser(i,_id)">Delete</button>
            </td>
        </tr>
        {{ /users }}
        </tbody>
</table>


<input type="button" value="ADD" class="btn btn-success" on-click="@.fire('goto', 'addUserForm')">

{{/if}}