doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/css/app.css')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')

    meta(name="viewport" content="width=device-width, initial-scale=1")
    script.
      const PAGE="#{page}";
      const SIGNED="#{signed}";
  body
    block content
    script(src='/js/vendor.js')
    script(src='/js/app.js')