<div class="col-lg-4">
  <form on-submit="updateUser">

    <div class="form-group">
      <input class="form-control" type="text" value="{{userIndex}}" hidden>
      <input class="form-control" type="text" placeholder="Users Name" value="{{name}}">
    </div>

    <app-error errors='{{errors.name}}'/>

    <div class="form-group">
      <input class="form-control" type="text" placeholder="Users Address" value="{{address}}">
    </div>

    <app-error errors='{{errors.address}}'/>

    <div class="form-group">
      <input class="form-control" type="text" placeholder="Users Gender" value="{{gender}}">
    </div>

    <app-error errors='{{errors.gender}}'/>

    <input type="submit" value="Edit" class="btn btn-success">
    
  </form>
</div>